.dockerignore
.DS_Store
.editorconfig
.eslintrc.json
.git
.gitignore
.prettierrc.js
.idea
.prettierrc.json
.vscode

bin
coverage
dist
docs
jest.config.js
node_modules

docker-compose.yml
package-lock.json

server/__tests__
test

*.md
*.log
*.zip